<script src="/assets/elo_odds.js"></script>
<script>
function ready(){
	$("#oddsDescription").html(eloString(parseInt($("#pl1Elo").html()), parseInt($("#pl2Elo").html()), ["<%= @player1.player_name %>", "<%= @player2.player_name %>"]));
}
document.addEventListener("DOMContentLoaded", ready, false);
</script>

<h2><%= @player1.player_name %> (<span id="pl1Elo"><%= @player1.elo %></span>) vs <%= @player2.player_name %> (<span id="pl2Elo"><%= @player2.elo %></span>)</h2>

<p id="oddsDescription"></p>

<ul>
<% @player1.compare_to(@player2).each do |k,v| %>
	<li><b><%= k.to_s.split("_").join(" ") %>:</b> <%= v %></li>

<% end %>
</ul>

<% [@player1, @player2].each do |player| %>
<div class="playerCompare" >
<h2><%= player.player_name %></h2>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<ul>
	<li><b>Elo Score</b> <%= player.elo %></li>

</ul>
<ul>
	<li><b>Queen Trade Frequency</b> <%= player.queen_trade_frequency %>%</li>
	<li><b>Win Rate After Queen Trade</b>  
        <% if player.queen_trade_win_rate > player.non_queen_trade_win_rate %>
            <span style="color:green">+
        <% else %>
            <span style="color:red">
        <% end %>
        <%= player.queen_trade_win_rate - player.non_queen_trade_win_rate %>%</span> (<%= player.queen_trade_win_rate %>% vs <%= player.non_queen_trade_win_rate %>%)</li>
	<li><b>Average Win Length</b> 
        <% if player.average_win_length < player.average_game_length %>
            <span style="color:red">
        <% else %>
            <span style="color:green">+
        <% end %>

        <%= (player.average_win_length - player.average_game_length)/2.0 %> moves</span> (<%= player.average_win_length/2.0 %> vs <%= player.average_game_length/2.0 %>)</li>
	<li><b>Average Loss Length</b> 
        <% if player.average_loss_length < player.average_game_length %>
            <span style="color:red">
        <% else %>
            <span style="color:green">+
        <% end %>

        <%= (player.average_loss_length - player.average_game_length)/2.0 %> moves</span> (<%= player.average_loss_length/2.0 %> vs <%= player.average_game_length/2.0 %>)</li>
	<li><b>Average Game Length</b> <em><%= player.average_game_length/2.0 %></em>
</ul>
</div>
<% end %>