<script src="/assets/elo_odds.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script>
function ready(){


	$("#oddsDescription").html(eloString(parseInt($("#pl1Elo").html()), parseInt($("#pl2Elo").html()), ["<%= @player1.player_name %>", "<%= @player2.player_name %>"]));

	<% [@player1, @player2].each_with_index do |player,i| %>

		 args = {
    	    labels :['Mobility',
    	            'Space',
    	            'Passed pawns',
    	            'King safety',
    	            'Threats'],
    	    type : 'column',
    	    data : [<%= player.mobility %>, <%= player.space %>, <%= player.passed_pawns %>,<%= player.king_safety %>, <%= player.threats %>],
    	    seriesName : "<%= player.player_name %>",
    	    title : ["Player Characteristics"]
    	}

		showGraph($("#container<%= i %>"), args)
	<% end %>



<% compare_data = @player1.compare_to(@player2) %>

labels = ['<%= compare_data.collect{|k,v| "#{k.to_s.split("_").join(" ")}"}.join("\',\'") %>'];

data1 = [<%= compare_data.collect{|k,v| if (v > 0); v; else; "null"; end  }.join(",") %>]
data2 = [<%= compare_data.collect{|k,v| if (v < 0); v; else; "null"; end  }.join(",")%>];

	 args = {
    	    labels :labels,
    	    type: 'bar',
    	    title: "<%= @player2.player_name %> vs. <%= @player1.player_name %>",
    	    series : [
    	    {name: "<%= @player2.player_name %>",
    	    	data :data2},
    	    	{name : "<%= @player1.player_name %>",
    	    	data:data1}
    	    	
    	    ]
    	}

		showGraph($("#matchupGraph"), args)
}
document.addEventListener("DOMContentLoaded", ready, false);
</script>

<h2><%= @player1.player_name %> (<span id="pl1Elo"><%= @player1.elo %></span>) vs <%= @player2.player_name %> (<span id="pl2Elo"><%= @player2.elo %></span>)</h2>

<p id="oddsDescription"></p>

<div id="matchupGraph"></div>

<ul>
    <% compare_data.each do |attr, val| %>
    <li><b><%= attr %>:</b> 
        <%= val  %> 
        <% if val > 0 %>
        (favors white)
        <% elsif val < 0 %>
        (favors black)
        <% else %>
        (dead even)
        <% end %>
    </li>
    <% end %>
</ul>



<% [@player1, @player2].each_with_index do |player,i| %>
<div class="playerCompare" >
<h2><%= player.player_name %></h2>

<div id="container<%= i %>" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<ul>
	<li><b>Elo Score</b> <%= player.elo %></li>

</ul>
<ul>
	<li><b <% if player.queen_trades_significant %>class="significant"<% end %>>Queen Trade Frequency</b> <%= player.queen_trade_frequency %>%</li>
	<li><b <% if player.queen_trades_significant %>class="significant"<% end %>>Win Rate After Queen Trade</b>  
        <% if player.queen_trade_win_rate > player.non_queen_trade_win_rate %>
            <span style="color:green">+
        <% else %>
            <span style="color:red">
        <% end %>
        <%= player.queen_trade_win_rate - player.non_queen_trade_win_rate %>%</span> (<%= player.queen_trade_win_rate %>% vs <%= player.non_queen_trade_win_rate %>%)</li>
	<li><b <% if player.win_stats_significant %>class="significant"<% end %>>Average Win Length</b> 
        <% if player.average_win_length < player.average_game_length %>
            <span style="color:red">
        <% else %>
            <span style="color:green">+
        <% end %>

        <%= (player.average_win_length - player.average_game_length)/2.0 %> moves</span> (<%= player.average_win_length/2.0 %> vs <%= player.average_game_length/2.0 %>)</li>
	<li><b <% if player.loss_stats_significant %>class="significant"<% end %>>Average Loss Length</b> 
        <% if player.average_loss_length < player.average_game_length %>
            <span style="color:red">
        <% else %>
            <span style="color:green">+
        <% end %>

        <%= (player.average_loss_length - player.average_game_length)/2.0 %> moves</span> (<%= player.average_loss_length/2.0 %> vs <%= player.average_game_length/2.0 %>)</li>
	<li><b>Average Game Length</b> <em><%= player.average_game_length/2.0 %></em>
</ul>
</div>
<% end %>