<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script>
$(function () {
    args = {
        labels :['Mobility',
                'Space',
                'Passed pawns',
                'King safety',
                'Threats'],
        type : 'column',
        data : [<%= @player.mobility %>, <%= @player.space %>, <%= @player.passed_pawns %>, <%= @player.king_safety %>, <%= @player.threats %>],
        seriesName : "<%= @player.player_name %>",
        title : ["Player Characteristics"]
    }

    showGraph($("#container"), args);

    // $('#container').highcharts({
    //     chart: {
    //         type: 'column'
    //     },
    //     title: {
    //         text: 'Player Characteristics'
    //     },
    //     subtitle: {
    //         text: ''
    //     },
    //     xAxis: {
    //         categories: 
    //     },
    //     yAxis: {
    //         // min: -0.0,
    //         title: {
    //             text: ''
    //         }
    //     },
    //     tooltip: {
    //         headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
    //         pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
    //             '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
    //         footerFormat: '</table>',
    //         shared: true,
    //         useHTML: true
    //     },
    //     plotOptions: {
    //         column: {
    //             pointPadding: 0.2,
    //             borderWidth: 0
    //         }
    //     },
    //     series: [{
    //         name: '<%= @player.player_name %>',
    //         data: [<%= @player.mobility %>, <%= @player.space %>, <%= @player.passed_pawns %>, <%= @player.threats %>]

    //     }]
    // });
});
</script>


<h2><%= @player.player_name %></h2>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<ul>
	<li><b>Elo Score</b> <%= @player.elo %></li>

</ul>
<ul>
	<li><b>Queen Trade Frequency</b> <%= @player.queen_trade_frequency %>%</li>
	<li><b>Win Rate After Queen Trade</b>  
        <% if @player.queen_trade_win_rate > @player.non_queen_trade_win_rate %>
            <span style="color:green">+
        <% else %>
            <span style="color:red">
        <% end %>
        <%= @player.queen_trade_win_rate - @player.non_queen_trade_win_rate %>%</span> (<%= @player.queen_trade_win_rate %>% vs <%= @player.non_queen_trade_win_rate %>%)</li>
	<li><b>Average Win Length</b> 
        <% if @player.average_win_length < @player.average_game_length %>
            <span style="color:red">
        <% else %>
            <span style="color:green">+
        <% end %>

        <%= (@player.average_win_length - @player.average_game_length)/2.0 %> moves</span> (<%= @player.average_win_length/2.0 %> vs <%= @player.average_game_length/2.0 %>)</li>
	<li><b>Average Loss Length</b> 
        <% if @player.average_loss_length < @player.average_game_length %>
            <span style="color:red">
        <% else %>
            <span style="color:green">+
        <% end %>

        <%= (@player.average_loss_length - @player.average_game_length)/2.0 %> moves</span> (<%= @player.average_loss_length/2.0 %> vs <%= @player.average_game_length/2.0 %>)</li>
	<li><b>Average Game Length</b> <em><%= @player.average_game_length/2.0 %></em>
</ul>
